.emoji-label {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.emotion {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 2px;
    justify-content: space-around;
}

.legend {
    position: absolute;
    width: 85px;
    left: 5%;
    top: 65px;
}

.emotion-count {
    font-size: 1.5rem;
    text-align: center;
}

.emotion.active {
    border: 2px solid #1ea1f2;
    background: #1ea1f28a;
    border-radius: 4px;
}