input[type="number"] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    font-weight: inherit;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(189, 189, 189);
    border-image: initial;
}

.setup-experience {
	margin: auto;
}

.choose-cached {
    text-align: center;
    color: #4caf4f;
    cursor: pointer;
}