h3.data-title {
    text-align: center;
    width: 100%;
}

.data {
    margin: 0px 3rem;
}

.recharts-polar-angle-axis-tick tspan {
    font-size: 27px !important; 
}

.tweet-charts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}